@import "../vars";

.dev-portfolio-filter {
  &__price {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    grid-gap: 1em;

    input {
      text-align: center;
      border: 1px solid $grey-light;
      padding: 0.75em 1.25em;
      border-radius: $base-border-radius;
      box-shadow: $base-box-shadow;
    }

    .rc-slider-handle {
      border-color: $primary-color;
    }

    .rc-slider-track {
      background-color: $primary-color;
    }
  }
}


