$primary-color: #d13980;
$secondary-color: #673BB7;

$black: #333;

$grey-light:#bbb;
$grey: #888;

$base-border-radius: 4px;

$base-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
$hover-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

$base-padding: 25px 15px;

$bg-grey: #f6f7fb;