
#root {
  &.is-loading {
    filter: blur(2px);
  }
}

.web-development {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 30px;
  //overflow-x: hidden;


  * {
    box-sizing: border-box;
  }

  &__sections {
    grid-row: 1/3;
  }

  &__elements {

  }
}